<div class="container">
  <div class="row">
    <form class="form-horizontal" (submit)="onSubmit(username.value, password.value)">
      <div class="form-group">
        <label for="username" class="col-sm-offset-2 col-sm-2 control-label">Username</label>
        <div class="col-sm-6">
          <input type="username" class="form-control" id="username" placeholder="Username" #username>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-offset-2 col-sm-2 control-label">Password</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" id="password" placeholder="Password" #password>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button type="submit" class="btn btn-default">{{ formType }}</button>
        </div>
      </div>
    </form>

    <div class="status">
      <p *ngIf="result === 'success'">{{ successMsg }}</p>
      <p *ngIf="result === 'failure'">{{ failureMsg }}</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>