<div mdlUpgrade class="container">
  <div class="mdl-grid">
    <ul class="mdl-list" style="margin: 0 auto;">
      <li class="mdl-list__item" *ngFor="#post of postEntries">
        <span class="mdl-list__item-primary-content">
                  <text *ngIf="post.type === 'text'"
                        [text]="post.text"
                        [entryId]="post.index"></text>

        <chart *ngIf="post.type === 'plot'"
               [xVal]="post.xVal"
               [yVal]="post.yVal"
               [xScaleType]="post.xScaleType"
               [yScaleType]="post.yScaleType"
               [postId]="id"
               [entryId]="post.index"
               [showOptions]="false"></chart>
        </span>
      </li>
    </ul>
  </div>

  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
      <a (click)="tabToggle('text')"
         class="mdl-tabs__tab" [class.is-active]="currentTab === 'text'">
        Text
      </a>
      <a (click)="tabToggle('plot')"
         class="mdl-tabs__tab" [class.is-active]="currentTab === 'plot'">
        Plot
      </a>
    </div>
  </div>

  <form *ngIf="currentTab === 'text'"
        (submit)="addEntry(textArea.value, textArea)">
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input"
                id="textArea" rows="4" #textArea></textarea>
      <label for="textArea" class="mdl-textfield__label">Text lines...</label>
    </div>
    <button type="submit"
            class="mdl-button mdl-js-button mdl-button--raised
                  mdl-js-ripple-effect mdl-button--colored">
      Add
    </button>
  </form>

  <form *ngIf="currentTab === 'plot'"
        (submit)="addEntry(textArea.value, textArea)">

    <chart [xVal]="'Period'"
           [yVal]="'Period Derivative'"
           [xScaleType]="'linear'"
           [yScaleType]="'log'"
           [postId]="id"
           [entryId]="0"
           [showOptions]="true"></chart>
  </form>

</div>


